body{
    box-sizing: border-box;
    font-size: 100%; 
}

.navbar-brand,h2 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.display-4 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lead,p {
  font-family: "Play", sans-serif;
  font-weight:100;
  font-style: normal;
  color: grey;
}

.text-body-emphasis{
   font-family: "Ubuntu", sans-serif;
  font-weight:400;
  font-style: normal;
}

h3>p{
  font-weight: 70;
}

.feature-icon{
  border-radius: 3px;
}

.overflow-hidden>img{
  height: 100%;
  width: 500px;
  border-radius: 6px;
}

span{
  color: orange;
}

img:hover{
  scale: 1.2;
  transition: 1s;
  border-radius: 4px;
}

#grow{
  font-weight: 600;
}